$breakpoint-pc-min-width: 1024px;
$breadpoint-tablet-min-widht: 560px;
$breadpoint-tablet-max-width: 959px;
$breakpoint-sp-max-width: 896px;
$pc_font_size: 20px;
$mini_img_border_radius: 90%;
$mini_img_width: 55px;
$mini_img_height: 55px;
$card_border_radius: 50%;